.aside{
  background: #f8e8b5;
  background: #e7d493;
  background: linear-gradient(-45deg, #c1b48d, #e7d493 );
  display: flex;
  flex-direction: column;
  gap: .5rem;
  // gap: .6rem;
  padding: 2rem;
  padding-top: 4.5rem;

  max-width: 300px;
  max-width: 320px;

  min-height: 100vh;
  background: hotpink;

  /* BOTON CERRAR */
  .boton-cerrar{
    position: absolute;
    right: 0rem;
    top: 0rem;
    padding: 1rem;
    border: none;
    background: transparent;

    i{
      font-size: 2rem;
      color: #333;
      transition: 300ms;
    }
  }
  .boton-cerrar:hover i{
    color: black;
  }

  /* SEPARADOR HR */
  hr{
    margin:  .8rem 0 1.5rem;
    margin:  1rem 0 1.8rem;
    border: none;
    border-top: 1px solid #fff0bd;
    // border-top: 1px solid #fff6d8;
  }

  /* TITULO */
  .caja-titulo{
    // background-color: red;
    display: flex;
    flex-direction: column;


    & p:first-child{
      // background-color: blue;
    }

    & p:last-child{
      // background-color: green;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }

  .caja-de-filtros-aplicados{
    // background: blue;

    ul{
      // background-color: greenyellow;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      li{
        background: yellow;
        background: var(--white);
        padding: .5rem .5rem .5rem 1rem;
        border: 1px solid black;
        border-radius: .5rem;
        display: flex;
        gap: 1rem;
        gap: .5rem;

        button{
          padding: 0 .5rem;
          // background: blue;
          border: none;
          background: transparent;
        }
      }
    }

    .boton-clean{
      background: none;
      border: none;
      padding: 1.5rem 0 0;
      // background: red;
    }
  }


}

@media (min-width: 1024px) {
  .aside{

    padding-top: 2rem;

    /* BOTON CERRAR */
    .boton-cerrar{
      display: none;
    }
  }
}