.aside{
  background: hotpink;
  // background: #1a1919;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 2rem;
  padding-top: 4.5rem;

  /* BOTON CERRAR */
  .boton-cerrar{
    position: absolute;
    right: 0rem;
    top: 0rem;
    padding: 1rem;
    border: none;
    background: transparent;

    i{
      font-size: 2rem;
      color: #333;
      transition: 300ms;
    }
  }
  .boton-cerrar:hover i{
    color: black;
  }
}

@media (min-width: 1024px) {
  .aside{

    padding-top: 2rem;

    /* BOTON CERRAR */
    .boton-cerrar{
      display: none;
    }
  }
}