.header{
  display: flex;
  align-items: center;
  justify-content: center;
  // background: #1f1f1f;
  display: flex;
  justify-content: center;
  /* background: red; */
  padding: 0 2rem;
  min-height: 7rem;
}

.header__logo{
  font-size: 4rem;
  font-weight: 600;
  background: linear-gradient(-45deg, #cfbc85, #ffeeba, #cfbc85);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: none;
}
.header__nav{
  display: flex;
  gap: 2rem;
  gap: 1.5rem;
  list-style: none;
}

.header__opcion{
  color: white;
}

.header__opcion--activo{
  color: #ffedb5;
}

@media (min-width: 720px) {
  .header{
    justify-content: space-between;
    min-height: 10rem;
    padding: 0 5rem;
  }
  .header__logo{
    display: initial;
  }
  .header__nav{
    gap: 2rem;
  }
}