.search-layout{
  // background-color: rgb(54, 91, 160);
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1300px;
  gap: 2rem;

  position: relative;

  /* ASIDE /////////////////////////////////////////////// */
  .aside{
    // background: hotpink;
    position: absolute;
    min-width: 280px;

    min-height: calc(100vh);
    top: 0px;
    z-index: 3;
    position: fixed;

    overflow: scroll;
    height: 100vh;
  }

  /* MAIN //////////////////////////////////////////////// */
  .main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* HEADER VERSION MOBILE */
    &__header-mobile{
      background-color: blue;
      width: 100%;
      position: sticky;
      top: -1px;
      z-index: 2;

      /* contador de resultados */
      .contador-resultados{
        background-color: gray;
        padding: .5rem 1rem;
        text-align: end;
      }
      
      /* contador de resultados */
      .contenedor-botones{
        background-color: green;
        display: flex;
  
        .boton{
          width: 50%;
          padding: .5rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          // font-size: 2rem;
          font-size: 1.8rem;

          i{
            font-size: 2.4rem;
            color: #333;

            &.flechas{
              // background-color: red;
              transform: rotateZ(90deg);
              font-size: 2rem;
            }
          }


        }
      }

      /* CONTENEDOR DE OPCIONES */
      .contenedor-opciones{
        background-color: red;
        position: absolute;
        right: 5px;
        top: 8rem;
        border: 1px solid black;

        li{
          background: white;
          padding: .5rem 1rem;

          &:hover{
            background-color: green;
          }
        }
      }
    }
    
    /* HEADER VERSION DESKTOP */
    &__header-desktop{
      // background-color: blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;

      width: 100%;
      // margin-left: 4rem;
      border-radius: .5rem;
      right: 0;

      .contador-resultados{
        // background-color: red;
        font-size: 1.8rem;
      }

      .selector-orden{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        select{
          // background-color: green;
          padding: .45rem .5rem;
          border-radius: .5rem;
          outline: none;

          position: relative;
        }
      }
    }
  
    /* CUERPO ------------------------------- */
    .cuerpo{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
    }

    /* CONTENEDOR DE TARJETAS */
    &__contenedor-tarjetas{
      // background: rgb(179, 130, 238);
      width: 100%;

      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;

      padding: 2rem;
    }



    @media (min-width: 560px) {
      &__contenedor-tarjetas {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    @media (min-width: 1250px) {
      &__contenedor-tarjetas {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}


@media (min-width: 1024px) {
  .search-layout{
    // background: lightseagreen;
    padding: 0 2rem;
    
    .aside{
      position: initial;
      border-radius: .5rem;
      overflow: hidden;
      height: 100%;
    }
    
    .main{
      &__header-desktop{
        background: #e7d493;
        background: #c1b48d;
        background: linear-gradient(-45deg, #c1b48d, #e7d493 );
      }

      &__contenedor-tarjetas{
        padding: 0 0 0;
      }
    }
  }
}