.pais{
  display: flex;
  flex-direction: column; 
  justify-content: center; /* PROV */
  align-items: center;
  width: 100%;
  // min-height: 100vh; /* PROV */

  &__nombre{
    font-size: 3rem;
    font-size: 4rem;
    color: white;
    font-weight: 500;

    background: linear-gradient(90deg, #928766, #decfa2, #928766);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    margin-bottom: 1rem;
    text-align: center;
  }

  &__nombre-completo{
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    font-weight: 400;

    margin-top: -20px;
    margin-top: -15px;
    margin-bottom: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__contenedor-bandera-escudo{
    // background-color: red;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    div{
      display: flex ;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__caja-imagen{
    width: 200px;
    width: 224px;
    height: 150px;
    margin: 2rem 0;

    img{
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    
  }
  
  .subtitulo{
    margin-top: 1rem;
  }


  /* AVISO EN CASO NO EXISTA INFORMACION DE ESE PAIS */
  &__aviso{
    // background-color: blue;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    color: white;

    h3{
      font-weight: 500;
      font-size: 2rem;
    }
  }
}

/* BLOQUE 2 - CAPITAL */
.capital{
  // background-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* BLOQUE DE LOS PAISSE VECINOS */
.paises-vecinos{
  // background-color: rgb(0, 255, 34);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  .contenedor-paises-vecinos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

/* BLOQUE DE INFORMACION */
.informacion{
  background-color: white;
  border-radius: .5rem;
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  margin: 2rem 0;

    .item{
      width: 50%;
      padding: 1rem 1.2rem;
      // border: 1px solid black;
      
      .titulo{
        color: #baad86;
        color: #908564;
        font-weight: 600;
      }
      .dato{
        // color: green;
      }
    }
}

/* ////////////////////////// */
@media (min-width: 520px) {
  .pais{
    // background-color: red;

    &__nombre{
      font-size: 6rem;
    }

    &__nombre-completo{
      font-size: 2rem;
    }
    
    
    &__contenedor-bandera-escudo{
      // background-color: blue;
      gap: 2rem;

      div{
        // background: violet;
      }
      
      .pais__caja-imagen{
        // background: blue;
        width: 300px;
        height: 200px;

        img{
          // background-color: yellow;
        }
      }
    }

    .subtitulo{
      margin-bottom: 3rem;
    }

    /* AVISO EN CASO NO EXISTA INFORMACION DE ESE PAIS */
    &__aviso{
      width: 400px;
      h3{
        font-size: 3rem;
      }
    }
  }



}

/* ////////////////////////// */
@media (min-width: 900px) {
  .pais{
    // background-color: red;
    &__nombre{
      font-size: 8rem;
      padding: 0rem 0rem 4rem;
      font-weight: 600;
    }
    &__nombre-completo{
      font-size: 3rem;
      margin-top: -55px;
      margin-bottom: 5rem;
    }
    
    &__contenedor-bandera-escudo{
      // background-color: blue;
      gap: 5rem;

      div{
        // background: violet;
      }
      
      .pais__caja-imagen{
        // background: blue;
        width: 450px;
        height: 300px;

        img{
          // background-color: yellow;
        }
      }
    }

    /* AVISO EN CASO NO EXISTA INFORMACION DE ESE PAIS */
    &__aviso{
      width: 400px;
      width: 500px;

      min-height: 60vh;

      h3{
        font-size: 4rem;
        margin-top: 5rem;
        margin-top: 10rem;
      }
    }
  }
}