#map{
  height: 500px;
  width: 95%;
  border-radius: .5rem;
  margin-top: 2rem;
  // overflow: scroll;
  overflow: hidden;
}

@media (min-width: 980px) {
  #map{
    height: 600px;
    width: 90%;
    margin-top: 1rem;
  }
}