#map{
  height: 500px;
  width: 100%;
}

@media (min-width: 980px) {
  #map{
    height: 600px;
    width: 90%;
    border-radius: .5rem;
    // border: 2px solid #d1c398;
    // border: 1px solid #d1c398;
  }
}