.footer{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  gap: 3rem;
  padding: 5rem;

  color: var(--white);
  background: red;
  background: radial-gradient(#222222, #1f1f1f);
}
.footer a {
  color: var(--white);
}
.footer a:hover {
  text-decoration: underline;
}

.footer__redes-contenedor{
  display: flex;
  gap: 1rem;
}

.footer__redes-contenedor i{
  font-size: 2.5rem;
  cursor: pointer;
}

@media (min-width: 720px) {
  .footer{
    flex-direction: row;
    justify-content: space-between;
    padding: 8rem 4rem 6rem;
    /* background: blue; */
  }
}


@media (min-width: 980px) {

  .footer{
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 6rem 5rem;
  }
}
