@font-face {
  font-family: 'Replica';
  src: url('./fonts/replica.ttf') format('truetype');
}
@font-face {
  font-family: 'Replica2';
  src: url('./fonts/replica2.ttf') format('truetype');
}

:root{
  --black: #1f1f1f;
  --white: #f7f7f7;
  --gray: #363636;
  --gray2: #dad8d6
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
/* *::selection{
  background-color: #191919;
  color: white;
} */
html {
  font-size: 62.5%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/*/////////////////////////*/



.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
main{
  height: 100%;
  flex-grow: 1;
}

body{
  background: yellow;
  overflow-x: hidden ;
}
body::-webkit-scrollbar {
  background: #181818;
  width: 1.2rem;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #80775b , #b3a57a, #80775b );
}

/*/////////////////////////*/
main{
  width: 100%;
  min-height: calc(100vh - 10rem);
  /* background: linear-gradient(90deg, transparent 15%, #16161ae0 40%); */
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background: var(--black);
}
main:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url(./assets/img3.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

input[type=text]{
  /* background-color: green; */
  padding: 1rem;
}
button{
  padding: 1rem 2rem;
}
/* ////////////////////////////// */

