:root{
  --black: #1f1f1f;
  --white: #f7f7f7;
  --gray: #363636;
  --gray2: #dad8d6
}

/* REINICIAR CSS ////////////////////////////////////////////////*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}
html {
  font-size: 62.5%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/* PERSONALIZAR SCROLL /////////////////////////////////////////*/
body::-webkit-scrollbar {
  background: #181818;
  width: 1.2rem;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #80775b , #b3a57a, #80775b );
}


/*OTROS////////////////////////////////////////////////////////*/
main{
  width: 100%;
  position: relative;
  background: var(--black);
}
strong{
  font-weight: 600;
}
